<h1>Iniciar sesion</h1>

<form action="/api/login" method="post">
    <label for="email">Mail</label>
    <input type="email" name="email" >

    <label for="password">Cointrasenia</label>
    <input type="password" name="password" >

    <button type="submit" >Entrar</button>
</form>

<a href="/register">Crear cuenta</a>